<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tech Blog</title>
    <link rel="stylesheet" href="/cs/style.css">
</head>
<body>
    <div class="container">
        <header>
            <nav>
                <a href="/">Home</a>  
                {{#if loggedIn}}              
                <a href="/dashboard">Dashboard</a>
                <button id="logout" class="btn-no-style">Log Out</button>
                {{else}}
                <a href="/login">Log In</a>
                {{/if}}
            </nav>
            <h1>
                <a href="/">Tech Bloggin'</a>
            </h1>

        </header>

        <main>
        {{{ body }}}
        </main>

        <footer>
            Made by ah-fang
        </footer>
    </div>
    {{#if loggedIn}}    
    <script src="/javascript/logout.js"></script>
    {{/if}}
</body>
</html>