<div class="forms">
  <form class="login-form">
    <div class="entry">
      <label for="email-login">email:</label>
      <input type="text" id="email-login" />
    </div>
    <div class="entry">
      <label for="password-login">password: </label>
      <input type="password" id="password-login" />
    </div>
    <div>
      <button type="submit" class="form-btn">login</button>
    </div>
  </form>

  <form class="signup-form">
    <div class="entry">
      <label for="username-signup">username: </label>
      <input type="text" id="username-signup" />
    </div>
    <div class="entry">
      <label for="email-signup">email: </label>
      <input type="text" id="email-signup" />
    </div>
    <div class="entry">
      <label for="password-signup">password: </label>
      <input type="password" id="password-signup" />
    </div>
    <div>
      <button type="submit" class="form-btn">signup</button>
    </div>
  </form>
</div>



<script src="/javascript/login.js"></script>